@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.tabcontent {
    display: none;
    animation: fadeEffect .5s;
}

.header {
    margin: 40px 0;

    &__search {
        margin-bottom: 40px;
    }

    &__btn-wrapper {
        button {
            width: 100%;
            border-radius: 50px;
            background-color: transparent;
        }
    }

    &__search-wrapper {
        display: flex;
        border: 2px solid black;
        border-radius: 50px;
        height: 36px;
        padding: 0 10px;

        .loc {
            margin-top: 2px;
            margin-right: 10px;
        }

        input {
            flex-grow: 1;
            border: none;
            outline: none;
        }

        button {
            background-color: transparent;
            border: none;
        }
    }
}

.main {
    &__card {
        display: flex;
        gap: 20px;
        border-radius: 50px;
        color: white;
        margin-bottom: 40px;
        padding: 36px;
        align-content: center;
    }

    &__visual {
        width: 30%;
    }

    &__desc {
        width: 70%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-content: center;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        p {
            width: 50%;
            text-align: center;
        }
    }

    &__display {
        overflow-x: scroll;
    }
}

.visual {
    &__icon {
        img {
            width: 100%;
        }
    }

    &__text {
        text-align: center;
    }
}

.desc {
    &__temp {
        font-size: 66pt;
    }
    
    &__calendar {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
        }
    }

    &__day {
        font-size: 24pt;
        font-weight: 400;
    }
}

.display {
    color: white;
    margin-bottom: 40px;
    p {
        margin: 0;
        text-align: center;
    }

    &__interval {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        padding: 12px 0;
    }
}

#display {
    padding-bottom: 10px;
}

.active-tab {
    background-color: #575757 !important;
    color: white;
}

//custom scroll

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: solid 2px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 10px;
}

// #fdays {
//     display: block !important;
// }

@media screen and (max-width: 1024px) {
    ::-webkit-scrollbar {
        width: initial;
    }
    
    ::-webkit-scrollbar-track {
        border: initial;
        border-radius: initial;
    }
    
    ::-webkit-scrollbar-thumb {
        background: initial;
        border-radius: initial;
    }
}

@media screen and (max-width: 767px) {
    .main {
        &__desc {
            gap: 0;
        }
    }

    .desc {
        &__temp {
            line-height: 86px;
            margin: 0;
        }
    }
}

@media screen and (max-width: 575px) {
    .main {
        &__card {
            gap: 10px;
        }

        &__visual {
            width: 40%;
        }

        &__desc {
            width: 60%;
        }
    }

    .desc {
        &__temp {
            font-size: 62pt;
        }

        &__day {
            font-size: 22pt;
        }
    }
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }